@use '../../sass' as s;

.trending-content-container {
  margin-bottom: s.em(24, 16);
  @include s.breakpoint-up(medium) {
    margin-bottom: s.em(39, 16);
  }

  @include s.breakpoint-up(xlarge) {
    margin-bottom: s.em(40, 16);
  }
}
.media-scroller {
  display: grid;

  grid-auto-flow: column;
  grid-auto-columns: s.rem(240);
  overflow-x: auto;
  gap: s.rem(16);
  padding: s.em(16, 16) 0;
  @include s.breakpoint-up(medium) {
    grid-auto-columns: s.rem(470);
    padding: s.em(25, 16) 0;

    gap: s.rem(32);
  }
}

.snaps-inline {
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.snaps-inline > * {
  scroll-snap-align: center;
}
